// Color Scheme

// First Color Scheme
$white: #fff;
$black: #000;
$black-primary: #060606;
$black-secondary: #2E1503;
$lightgray: #D1D1D1;
$normalgray: #505050;

// Second Color Scheme
$orange-primary: #FFAF6D;
$orange-secondary: #FFA500;

// Tipography

//Font Family
$bebas: 'Bebas Neue', cursive;
$roboto: 'Roboto', sans-serif;

// Font Weight
$regular: 400;
$bold: 700;

// Font Sizes
$xxxxx-large: 50px;
$xxxx-large: 45px;
$xxx-large: 40px;
$xx-large: 35px;
$x-large: 30px;
$large: 20px;
$medium: 16px;
$small: 14px;
$x-small: 12px;
